@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");
:root {
  font-size: 16px;
  --b1: #000000;
  --b2: #ffffff;
  --b3: #f1f1f1;
  --b5: #f7bcb8;
  --b6: #fcfcfc;
  --gradient-start: #f78fad;
  --gradient-start-text: "#F78FAD";
  --gradient-end: #fdeb82;
  --gradient-end-text: "#FDEB82"; }

body {
  background-color: var(--b2);
  font-family: "Montserrat", sans-serif; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.menu_container,
ul,
a {
  list-style: none; }

/*nav */
header {
  width: 100%;
  margin: 0px 0px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.2), 0 2px 4px 0 rgba(172, 172, 172, 0.2); }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 8vh;
  z-index: 3;
  margin: 0;
  padding: 0; }
  .navigation .navContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    overflow: hidden; }
    .navigation .navContainer li {
      display: flex;
      justify-content: space-around;
      font-size: 22px;
      overflow: hidden; }

.hamb-menu {
  display: none; }

.logoContainer {
  display: flex;
  flex-direction: row;
  margin: 0 16px 0 32px; }
  .logoContainer a {
    display: flex;
    font-size: 24px;
    color: var(--b4);
    justify-content: space-around;
    align-items: center;
    margin: 0px; }
  .logoContainer p {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--b4);
    margin: 0 32px; }

.buscador {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 4px 0px;
  margin: 0;
  width: 250vh; }
  .buscador .filterbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: WHITE;
    font-size: 14px;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.2), 0 2px 4px 0 rgba(172, 172, 172, 0.2); }
  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.2), 0 2px 4px 0 rgba(172, 172, 172, 0.2); }
  .buscador .iconContainer i {
    margin: 8px; }
  .buscador .searchButton {
    width: 300%;
    border: none;
    height: 36px;
    padding: 16px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(172, 172, 172, 0.2), 0 2px 4px 0 rgba(172, 172, 172, 0.2); }

.navigation .navContainer .userContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 16px;
  align-items: center;
  align-content: center;
  padding: 0; }

.navigation .navContainer .menu_container {
  display: flex; }
  .navigation .navContainer .menu_container .userItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0; }
    .navigation .navContainer .menu_container .userItem a {
      color: black;
      margin: 0px 12px;
      text-decoration: none;
      font-size: 16px; }

.navigation .navContainer .userContainer .menu_container .userItem:hover {
  border-radius: 25px;
  border: 1px solid black; }

.buscador .searchButton {
  width: 90%; }

.mainadvice {
  width: 90%;
  background-color: #ffffff;
  height: 70vh;
  margin: 32px auto 16px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 64px 32px;
  padding-top: 64px;
  display: flex;
  align-items: center;
  align-content: center;
  animation: fadeInLeft;
  animation-duration: 2s; }
  .mainadvice img {
    width: 40%;
    border-radius: 6px;
    margin: 32px; }
  .mainadvice .btn {
    width: 40%;
    margin: 32px; }
  .mainadvice .mainAdvContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    padding: 64px; }
    .mainadvice .mainAdvContent .textAdviceContainer {
      display: flex;
      flex-direction: column;
      width: 50%; }
      .mainadvice .mainAdvContent .textAdviceContainer p {
        margin: 16px 32px; }
      .mainadvice .mainAdvContent .textAdviceContainer h3 {
        margin: 16px 32px;
        font-size: 32px; }
        .mainadvice .mainAdvContent .textAdviceContainer h3 span {
          color: orange; }

/* caorusel */
.containerCarousel {
  width: 90%;
  margin: 72px auto 8px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  animation: fadeInLeft 2.1s cubic-bezier(0, 0.96, 0.38, 1);
  overflow: hidden;
  padding: 0%;
  height: 46vh; }

.carousel-item {
  width: 100%;
  height: 46vh;
  overflow: hidden;
  border-radius: 12px; }

/*footer */
.inf-Footer {
  margin: 32px 0px 0px 0px;
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  overflow: hidden;
  z-index: 2;
  bottom: 0%; }

.containerCard {
  display: grid;
  width: 50%;
  justify-content: space-around;
  margin: 32px 0px 32px 8rem; }
  .containerCard .infContainer {
    color: black; }
  .containerCard .netContainer .list-footer {
    color: black;
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
    column-gap: 32px;
    grid-template-rows: 100px;
    font-size: 24px; }

.inf-FooterMan {
  margin: 16px 0px 32px 28%;
  width: 70%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px; }

.containerinfomain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: white;
  max-width: 90%;
  margin: 16px auto;
  height: 40vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 8px 16px;
  animation: fadeInLeft 2.1s cubic-bezier(0, 0.96, 0.38, 1); }
  .containerinfomain .containerInfoimg {
    width: 25%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    padding: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2); }
  .containerinfomain .containerInfoText {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start; }
  .containerinfomain .containerInfoTextRight {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    align-items: flex-end; }
  .containerinfomain .btn {
    width: 40%; }

/*cards*/
.container {
  margin: 16px 0px 0px 28%;
  padding: 0;
  width: 70%;
  left: 30%; }

.containerMain {
  margin: 8px 70px;
  padding: 0;
  width: 92%;
  border-radius: 10px; }

.card {
  background-color: var(--b2);
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  border-radius: 10px;
  height: 42vh;
  padding: 32px;
  margin: 16px 0; }
  .card img {
    margin: 0px auto;
    width: 60%;
    border-radius: 10%;
    height: 50%; }
  .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }

.card:hover {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  text-align: center; }

.btn-dark {
  border-radius: 25px;
  color: white;
  background-color: var(--b1);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%; }

.btn-dark:hover {
  color: black;
  background-color: var(--b6);
  border: none;
  border: 1px solid #888888; }

.cardMen,
.cardWomen {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  border-radius: 10px;
  height: 45vh;
  padding: 8px 16px 8px 16px;
  margin: 16px 0;
  width: 316px; }
  .cardMen .card-body,
  .cardWomen .card-body {
    padding-top: 0;
    height: 90%; }
  .cardMen img,
  .cardWomen img {
    margin: 0px auto;
    width: 75%;
    border-radius: 10%;
    height: 68%; }
  .cardMen p,
  .cardWomen p {
    font-size: 16px; }

/*Carrito de comprasretractil*/
.tableContainer {
  position: fixed;
  left: 60%;
  margin: 0px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 40%;
  height: 40vh;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.4s;
  z-index: 3;
  padding: 0;
  top: 8vh; }

.table_visible {
  left: 100%; }

#btn-more {
  color: white;
  background-color: var(--b1);
  border: none;
  border-radius: 25px; }

#btn-less,
#emptyCart {
  background-color: var(--b1);
  opacity: 0.8;
  border: none;
  border-radius: 25px; }

#buyCart {
  background-color: var(--b1);
  border: none;
  border-radius: 25px; }

.headerCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.headerTable {
  display: flex;
  justify-content: space-around;
  margin: 0 32px;
  top: 0; }
  .headerTable tr {
    margin: 32px;
    width: 100%;
    height: 1vh;
    display: flex;
    flex-direction: row;
    background-color: red; }

.template-cartContaineritem .template-cart {
  margin: 0px; }

/*Estilos del forumlario */
.containerForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 0 auto; }
  .containerForm a {
    color: #298b82;
    text-decoration: none; }

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 97vh;
  margin: 0; }

.formContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  margin: 72px 0px 0px 0px; }
  .formContainerLeft .textContetTitle {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px; }
    .formContainerLeft .textContetTitle h2 {
      margin: 16px 0;
      padding: 0; }
    .formContainerLeft .textContetTitle p {
      margin: 0;
      padding: 0; }
  .formContainerLeft .btn-registerOther {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 120%;
    height: 5vh;
    margin: 16px 0px;
    border-radius: 25px;
    flex-direction: row;
    padding: 24px;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #929292; }
    .formContainerLeft .btn-registerOther p {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      width: 100%;
      margin: 0px;
      padding: 24px; }
  .formContainerLeft .btn-registerOther:hover {
    background-color: var(--b6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    color: black; }
  .formContainerLeft .itemLogContainer {
    margin: 0; }
    .formContainerLeft .itemLogContainer .formItems {
      margin: 0; }
      .formContainerLeft .itemLogContainer .formItems .containerItem {
        width: 100%; }
        .formContainerLeft .itemLogContainer .formItems .containerItem .Itemform {
          display: flex;
          width: 120%;
          height: 50px;
          border: 1px solid #929292;
          border-radius: 25px;
          padding: 8px 16px;
          margin: 16px 0px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
      .formContainerLeft .itemLogContainer .formItems .footerLogin {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
      .formContainerLeft .itemLogContainer .formItems .btn-submit {
        background-color: var(--b1);
        width: 100%;
        height: 50px;
        border: 1px solid #929292;
        margin: 16px 14px;
        border-radius: 25px;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
      .formContainerLeft .itemLogContainer .formItems .btn-submit:hover {
        background-color: var(--b2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
        color: black; }
    .formContainerLeft .itemLogContainer P {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }

.formContainerRigth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .formContainerRigth .formContainerRigthContent img {
    width: 100%;
    height: 103vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }

.contact-name {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center; }

/*Filters*/
.filterFix {
  width: 100%;
  overflow: auto;
  position: fixed;
  z-index: 1;
  margin: 0px; }

.filtercontainer {
  display: flex;
  flex-direction: column;
  background-color: var(--b2);
  padding: 4px 8px;
  width: 20%;
  height: 85vh;
  margin: 32px;
  box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  z-index: 2; }

.filterItems {
  display: flex;
  flex-direction: column;
  padding: 16px auto;
  height: 0vh;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%; }

.filterItem {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 12px 32px;
  align-items: center;
  align-content: center;
  justify-content: flex-start; }
  .filterItem p {
    width: 100%;
    font-size: 16px;
    height: 3vh; }
  .filterItem .filterCat {
    display: flex;
    align-items: center;
    align-content: center;
    align-content: space-around;
    margin: 0;
    font-size: 12px; }
  .filterItem .filterPrecio {
    margin: 4px; }
    .filterItem .filterPrecio h3 {
      margin-bottom: 16px; }
    .filterItem .filterPrecio .inputPrice {
      padding: 0;
      margin: 4px;
      width: 40%; }

.sliderPrecio {
  width: 100%;
  color: black; }

.inputPrice {
  border-radius: 25px;
  border: 1px solid black;
  font-size: 16px; }

.chkboxContainer {
  margin: 4px; }

.filterItem .catfilterit {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.gridOffAllow {
  display: grid;
  height: 40vh;
  gap: 16px;
  margin: 64px 0px 16px 28%;
  padding: 32px 0px 0px 0px;
  width: 70%;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  z-index: 3; }
  .gridOffAllow .itemGridOffAllow {
    background-color: var(--b2);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
  .gridOffAllow .itemGridOffAllow:hover {
    background-color: var(--b2);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }

/*Media querys*/
@media (max-width: 1200px) {
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 0px;
    margin: 0em;
    width: 40vh; }
  .navigation .navContainer .userContainer {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%; } }

@media (max-width: 1024px) {
  .navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--b2);
    overflow: hidden; }
  .buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 0px;
    margin: 0em;
    width: 40vh; }
  .logoContainer {
    margin: 0px 8px 0 0px; }
  .logoContainer p {
    margin: 12px 0px 12px 16px; }
  .logoContainer a {
    display: flex;
    font-size: 24px;
    color: var(--b4);
    justify-content: space-around;
    margin: 16px 0px 16px 32px; }
  .navigation .navContainer .userContainer {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%; }
  .navigation .navContainer .userContainer .menu_container {
    padding: 0; }
  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0; } }

@media (max-width: 769px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
    margin: 0;
    top: 0; }
    .navigation .navContainer {
      width: 70%; }
      .navigation .navContainer .userContainerBuscador {
        display: none; }
    .navigation .logoContainer {
      margin: 0px 16px 0 0px; }
  .buscador {
    display: none;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em; }
  .navigation .navContainer .userContainer .menu_container {
    width: 60%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b2);
    position: fixed;
    margin: 0px;
    top: 60px;
    border-bottom: solid 1px var(--b4);
    height: 100vh;
    left: 40%;
    transition: left 0.4s;
    align-content: flex-end;
    align-items: flex-end; }
  .navigation .navContainer .userContainer .menu_container .userItem {
    display: flex;
    width: 85%;
    padding: 12px;
    margin: 12px auto;
    border-radius: 25px;
    background-color: var(--b2);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    align-content: flex-end;
    align-items: center; }
  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 24px; }
  .buscador .searchbtn {
    display: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0; }
  .hamb-menu {
    font-size: 32px;
    border: none;
    background: transparent;
    display: block;
    margin: 14px 16px 24px 43vh; }
  .navigation .navContainer .userContainer .menu_visible {
    left: 100%; }
  .containerCarousel {
    height: 32vh;
    overflow: hidden;
    margin-top: 84px; }
  .carousel-item {
    height: 32vh;
    overflow: hidden; }
  .mainadvice {
    height: 40vh;
    padding: 0; }
    .mainadvice img {
      border-radius: 16px;
      margin: 32px; }
    .mainadvice .btn {
      width: 100%;
      margin: 0 0px 16px 16px;
      font-size: 12px; }
    .mainadvice .mainAdvContent {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      padding: 16px 8px; }
      .mainadvice .mainAdvContent .textAdviceContainer {
        display: flex;
        flex-direction: column;
        width: 30%; }
        .mainadvice .mainAdvContent .textAdviceContainer p {
          font-size: 10px;
          margin: 4px 0px 16px 0px;
          text-align: left; }
        .mainadvice .mainAdvContent .textAdviceContainer h3 {
          margin: 16px;
          font-size: 18px; }
          .mainadvice .mainAdvContent .textAdviceContainer h3 span {
            color: orange; }
  .containerMain {
    margin: 8px 0px 0px 3%;
    padding: 0;
    width: 100%; }
  .card {
    border-radius: 10px;
    height: 25vh;
    margin: 8px !important;
    width: 20vh !important; }
    .card img {
      margin: 0px auto 16px auto;
      width: 80%;
      border-radius: 10%;
      height: 50%; }
    .card h5 {
      font-size: 12px; }
    .card p {
      font-size: 14px; }
    .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0; }
    .card .btn-dark {
      width: 80%;
      font-size: 12px; }
  .filterFix {
    font-size: 12px; }
    .filterFix .filtercontainer {
      padding: 4px 16px;
      width: 24%;
      margin: 32px 16px;
      height: 52vh; }
    .filterFix .filterItem {
      padding: 0px; }
    .filterFix p {
      display: none; }
  .inf-FooterMan {
    margin: 16px 0px 32px 30px;
    padding: 0;
    width: 90%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    font-size: 12px; } }

@media (max-width: 540px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
    margin: 0;
    top: 0; }
    .navigation .navContainer {
      width: 100%; }
      .navigation .navContainer .userContainerBuscador {
        display: none; }
    .navigation .logoContainer {
      margin: 0px 8px 0 0px; }
  .buscador {
    display: none;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em; }
  .navigation .navContainer .userContainer .menu_container {
    width: 70%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b2);
    position: fixed;
    margin: 0px;
    top: 60px;
    border-bottom: solid 1px var(--b4);
    left: 30%;
    transition: left 0.4s;
    align-content: flex-end;
    align-items: flex-end; }
  .navigation .navContainer .userContainer .menu_container .userItem {
    display: flex;
    width: 85%;
    margin: 8px auto;
    border-radius: 25px;
    background-color: var(--b2);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    align-content: flex-end;
    align-items: center;
    height: 6vh; }
  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 16px; }
  .buscador .searchbtn {
    display: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0; }
  .hamb-menu {
    margin: 14px 16px 24px 15vh; }
  .navigation .navContainer .userContainer .menu_visible {
    left: 100%; }
  .containerCarousel {
    height: 18vh; }
  .carousel-item {
    height: 18vh; }
  .containerinfomain {
    height: 18vh; }
  .mainadvice {
    height: 18vh;
    padding: 0; }
    .mainadvice img {
      border-radius: 6px;
      margin: 32px; }
    .mainadvice .btn {
      width: 100%;
      margin: 0 0px 16px 16px;
      font-size: 6px; }
    .mainadvice .mainAdvContent {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      justify-content: space-around;
      padding: 16px 8px; }
      .mainadvice .mainAdvContent .textAdviceContainer {
        display: flex;
        flex-direction: column;
        width: 30%; }
        .mainadvice .mainAdvContent .textAdviceContainer p {
          display: none;
          font-size: 8px;
          margin: 4px; }
        .mainadvice .mainAdvContent .textAdviceContainer h3 {
          margin: 16px;
          font-size: 16px; }
          .mainadvice .mainAdvContent .textAdviceContainer h3 span {
            color: orange; }
  .containerMain {
    margin: 8px 10%;
    padding: 0;
    width: 10px; }
  .card {
    border-radius: 10px;
    height: 32vh;
    margin: 8 !important;
    width: 30vh !important; }
    .card img {
      margin: 0px auto;
      width: 50%;
      border-radius: 10%;
      height: 50%;
      padding-bottom: 16px; }
    .card h5 {
      font-size: 12px; }
    .card p {
      font-size: 14px; }
    .card .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 16px; }
  .card:hover {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    text-align: center; }
  .btn-dark {
    width: 100%;
    font-size: 12px; }
  .containerInfoTextRight {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    padding: 16px 0px;
    align-items: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 8px; }
  .containerInfoTextLeft {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    padding: 16px;
    align-items: flex-start;
    justify-content: center;
    align-items: flex-start;
    font-size: 8px; }
  .btn-text {
    width: 150%;
    font-size: 6px;
    padding: 4px 6px; }
  .filterFix {
    display: none; }
  .containerCardsMen {
    margin: 32px 56px; }
    .containerCardsMen .cardMen {
      height: 32vh;
      padding: 16px 0px 0px 0px;
      width: 90%; }
  .gridOffAllow {
    display: grid;
    height: 30vh;
    gap: 16px;
    margin: 64px 0px 16px 0px;
    padding: 32px 8px 0px 8px;
    width: 100%;
    border-radius: 10px;
    grid-template-columns: repeat(4, 1fr);
    z-index: 3; }
    .gridOffAllow .itemGridOffAllow {
      background-color: var(--b2);
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .gridOffAllow .itemGridOffAllow:hover {
      background-color: var(--b2);
      width: 100%;
      border-radius: 16px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19); }
  .inf-FooterMan,
  .inf-Footer {
    margin: 16px 0px 32px 22px;
    padding: 0;
    width: 90%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    font-size: 12px; }
  .containerCard {
    display: grid;
    width: 50%;
    justify-content: space-around;
    margin: 32px; }
  .formContainerRigth {
    display: none; } }
