.mainadvice {
  img {
    width: 40%;
    border-radius: 6px;
    margin: 32px;
  }

  .btn {
    width: 40%;
    margin: 32px;
  }

  .mainAdvContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    justify-content: space-around;
    padding: 64px;

    .textAdviceContainer {
      display: flex;
      flex-direction: column;
      width: 50%;

      p {
        margin: 16px 32px;
      }

      h3 {
        margin: 16px 32px;
        font-size: 32px;
        span {
          color: orange;
        }
      }
    }
  }
}
