.tableContainer {
  position: fixed;
  left: 60%;
  margin: 0px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 40%;
  height: 40vh;
  border-radius: 10px 0px 0px 10px;
  transition: left 0.4s;

  z-index: 3;
  padding: 0;
  top: 8vh;
}

.table_visible {
  left: 100%;
}

#btn-more {
  color: white;
  background-color: var(--b1);
  border: none;
  border-radius: 25px;
}

#btn-less,
#emptyCart {
  background-color: var(--b1);
  opacity: 0.8;
  border: none;
  border-radius: 25px;
}
#buyCart {
  background-color: var(--b1);
  border: none;
  border-radius: 25px;
}
.headerCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headerTable {
  display: flex;
  justify-content: space-around;
  margin: 0 32px;
  top: 0;

  tr {
    margin: 32px;
    width: 100%;
    height: 1vh;
    display: flex;
    flex-direction: row;
    background-color: red;
  }
}

.template-cartContaineritem .template-cart {
  margin: 0px;
}
