.filtercontainer {
  position: fixed;
  background-color: var(--b2);
  padding: 8px;
  width: 20%;
  height: 90vh;
  margin: 8px 32px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.filterItems {
  display: flex;
  flex-direction: column;
  padding: 16px auto;
  height: 0vh;
  margin: 0px;
  align-items: flex-start;
  align-content: center;
  align-content: center;
}
.filterItem {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  align-items: center;
  align-content: center;

  p {
    font-size: 14px;
    height: 3vh;
  }

  .filterCat {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    align-content: space-around;
    margin: 0;
    font-size: 12px;
  }

  .filterPrecio {
    .inputPrice {
      padding: 0;
      margin: 0 4px;
    }
  }
}

.sliderPrecio {
  width: 100%;
  color: black;
}

.inputPrice {
  width: 30%;
  margin: 16px;
}

.chkboxContainer {
  margin: 8px;
}
.filterItem .catfilterit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
