.filtercontainer {
  position: fixed;
  background-color: var(--b2);
  padding: 8px;
  width: 20%;
  height: 90vh;
  margin: 8px 32px;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.filterItems {
  display: flex;
  flex-direction: column;
  padding: 16px auto;
  height: 0vh;
  margin: 0px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
}
.filterItem {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px 32px;
  align-items: center;
  align-content: center;
  justify-content: flex-start;

  p {
    width: 100%;
    font-size: 16px;
    height: 3vh;
  }

  .filterCat {
    display: flex;

    align-items: center;
    align-content: center;
    align-content: space-around;
    margin: 0;
    font-size: 12px;
  }

  .filterPrecio {
    .inputPrice {
      padding: 0;
      margin: 0 4px;
      width: 40%;
    }
  }
}

.sliderPrecio {
  width: 100%;
  color: black;
}

.inputPrice {
  border-radius: 25px;
  border: 1px solid black;
  font-size: 16px;
}

.chkboxContainer {
  margin: 4px;
}
.filterItem .catfilterit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
