.containerForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 0 auto;

  a {
    color: rgb(41, 139, 130);
    text-decoration: none;
  }
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 97vh;
  margin: 0;
}
.formContainerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  margin: 72px 0px 0px 0px;

  .textContetTitle {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px;

    h2 {
      margin: 16px 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }

  .btn-registerOther {
    display: flex;

    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 120%;
    height: 5vh;
    margin: 16px 0px;
    border-radius: 25px;
    flex-direction: row;
    padding: 24px;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(146, 146, 146);

    p {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      width: 100%;
      margin: 0px;
      padding: 24px;
    }
  }

  .btn-registerOther:hover {
    background-color: var(--b6);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    color: black;
  }

  .itemLogContainer {
    margin: 0;

    .formItems {
      margin: 0;
      .containerItem {
        width: 100%;
        .Itemform {
          display: flex;
          width: 120%;
          height: 50px;
          border: 1px solid rgb(146, 146, 146);
          border-radius: 25px;
          padding: 8px 16px;
          margin: 16px 0px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
            0 4px 8px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .footerLogin {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .btn-submit {
        background-color: var(--b1);
        width: 100%;
        height: 50px;
        border: 1px solid rgb(146, 146, 146);
        margin: 16px 14px;
        border-radius: 25px;
        color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
          0 4px 8px 0 rgba(0, 0, 0, 0.19);
      }
      .btn-submit:hover {
        background-color: var(--b2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 4px 8px 0 rgba(0, 0, 0, 0.19);
        color: black;
      }
    }

    P {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.formContainerLeft {
  margin: 72px 48px 0px 0px;
}

.formContainerRigth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .formContainerRigthContent {
    img {
      width: 100%;
      height: 103vh;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 4px 8px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.contact-name {
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
