.gridOffAllow {
  display: grid;
  height: 40vh;
  gap: 16px;
  margin: 64px 0px 16px 28%;
  padding: 32px 0px 0px 0px;
  width: 70%;
  border-radius: 10px;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1;

  .itemGridOffAllow {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--b2);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .itemGridOffAllow:hover {
    background-color: var(--b2);
    width: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  }
}
