@media (max-width: 376px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
  }

  .buscador {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em;
  }

  .logoContainer p {
    margin-top: 16px;
  }
  .logoContainer a {
    display: flex;
    font-size: 32px;
    color: var(--b4);
    justify-content: space-around;
    margin: 16px 0px 16px 32px;
  }
  .logoContainer a {
    display: fixed;
    z-index: 3;
    bottom: 0;
  }

  .navigation .navContainer .userContainer {
    padding: 0 16px;

    font-size: 16px;
    z-index: 3;
  }
  .navigation .navContainer .userContainer .menu_container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b1);
    position: fixed;
    margin: 64px;
    left: 0px;
    top: 64px;
    border-bottom: solid 1px var(--b4);
    height: 95vh;
    bottom: 64px;
    left: 100%;
    transition: left 0.4s;
  }

  .navigation .navContainer .userContainer .menu_container .userItem {
    width: 90%;
    margin: 24px 16px 24px 6px;
    height: 10%;
    border-radius: 25px;
    background-color: var(--b3);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
  }

  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 24px;
  }

  .buscador .searchbtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
  }

  .hamb-menu {
    font-size: 32px;
    border: none;
    background: transparent;
    display: block;
    margin: 12px 16px 16px 112px;
  }

  .navigation .navContainer .userContainer .menu_visible {
    left: 0%;
  }
}
