@media (max-width: 540px) {
  .navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8vh;
    background-color: var(--b2);
    overflow: hidden;
    position: fixed;
    margin: 0;
    top: 0;
    .navContainer {
      width: 100%;
      .userContainerBuscador {
        display: none;
      }
    }

    .logoContainer {
      margin: 0px 8px 0 0px;
    }
  }

  .buscador {
    display: none;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    padding: 4px 0px;
    margin: 0em;
  }

  .navigation .navContainer .userContainer .menu_container {
    width: 70%;
    height: 100vh;
    flex-direction: column;
    padding: 0;
    background-color: var(--b2);
    position: fixed;
    margin: 0px;
    top: 60px;
    border-bottom: solid 1px var(--b4);
    left: 20%;
    transition: left 0.4s;
    align-content: flex-end;
    align-items: flex-end;
  }

  .navigation .navContainer .userContainer .menu_container .userItem {
    display: flex;
    width: 85%;
    margin: 8px auto;
    border-radius: 25px;
    background-color: var(--b2);
    box-shadow: 0 4px 8px 0 rgba(66, 62, 3, 0.2),
      0 4px 8px 0 rgba(0, 0, 0, 0.19);
    align-content: flex-end;
    align-items: center;
    height: 6vh;
  }

  .navigation .navContainer .userContainer .menu_container .userItem a {
    font-size: 16px;
  }

  .buscador .searchbtn {
    display: none;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--b1);
    color: white;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
  }

  .hamb-menu {
    margin: 14px 16px 24px 15vh;
  }

  .navigation .navContainer .userContainer .menu_visible {
    left: 100%;
  }

  .containerCarousel {
    height: 18vh;
  }
  .carousel-item {
    height: 18vh;
  }

  .containerinfomain {
    height: 18vh;
  }

  .mainadvice {
    height: 18vh;
    padding: 0;

    img {
      border-radius: 6px;
      margin: 32px;
    }

    .btn {
      width: 100%;
      margin: 0 0px 16px 16px;
      font-size: 6px;
    }

    .mainAdvContent {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;

      justify-content: space-around;
      padding: 16px 8px;

      .textAdviceContainer {
        display: flex;
        flex-direction: column;
        width: 30%;

        p {
          display: none;
          font-size: 8px;
          margin: 4px;
        }

        h3 {
          margin: 16px;
          font-size: 16px;
          span {
            color: orange;
          }
        }
      }
    }
  }

  .containerMain {
    margin: 8px 10%;
    padding: 0;
    width: 10px;
  }

  .card {
    border-radius: 10px;
    height: 25vh;
    margin: 8 !important;
    width: 20vh !important;

    img {
      margin: 0px auto;
      width: 30%;
      border-radius: 10%;
      height: 40%;
    }
    h5 {
      font-size: 12px;
    }
    p {
      font-size: 14px;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .card:hover {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .btn-dark {
    width: 100%;
    font-size: 12px;
  }
}
